<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title Document
  body
    h1 Working with Browser Sync
    p.blue Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi.
    p.blue Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi.
    p.blue Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam tempora nostrum ducimus non, esse exercitationem saepe quasi totam, illo hic numquam repellat magnam consequuntur architecto itaque quos possimus sit! Eligendi.
    script(src="js/scripts-min.js")